# Created by venv; see https://docs.python.org/3/library/venv.html
*# Python
.venv/
__pycache__/
*.pyc

# Env files
.env
backend/.env
invoicemanagement/.env

# Node
node_modules/
dist/

# OS / editor
.vscode/
.DS_Store
